<div id="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <header>
      <h3>Exporter</h3>
      <button mat-button (click)="close()">
        <i class="material-icons">close</i>
      </button>
    </header>
    <mat-divider></mat-divider>
    <div id="body">
      <aside>
        <mat-radio-group id="exportType" formControlName="exportType" aria-label="Type d'exportation" (change)="updateIsEmailSelected()">
          <mat-radio-button value="download">T&eacute;l&eacute;chargement</mat-radio-button>
          <mat-radio-button value="email">Courriel</mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf='isEmailSelected'>
          <mat-label>Adresse de destination</mat-label>
          <label for="email" style="display: none"></label>
          <input matInput id="email" type="text" formControlName="email"/>
          <mat-error *ngIf='form.get("email").hasError("pattern")'>
            Adresse invalide.
          </mat-error>
          <mat-error *ngIf='form.get("email").hasError("required")'>
            Destination requise.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom du fichier</mat-label>
          <label for="name" style="display: none"></label>
          <input matInput id="name" type="text" formControlName="name" cdkFocusInitial/>
          <mat-error *ngIf='form.get("name").hasError("maxlength")'>
            Maximum de 128 caract&egrave;res
          </mat-error>
          <mat-error *ngIf='form.get("name").hasError("required")'>
            Nom du fichier requis
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Format</mat-label>
          <mat-select formControlName="format">
            <mat-option *ngFor="let format of formats" [value]="format">
              {{format}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf='form.get("name").hasError("required")'>
            sp&eacute;cifiez un format
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Filtre</mat-label>
          <mat-select formControlName="filter">
            <mat-option *ngFor="let filter of filters" [value]="filter" (onSelectionChange)="updatePreview()">
              {{filter}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </aside>
      <main>
        <div id="imagePreview"></div>
      </main>
    </div>
    <mat-divider></mat-divider>
    <footer>
      <div id="buttons">
        <button mat-stroked-button type="submit" [disabled]="form.invalid">Exporter</button>
        <button mat-button  type="button" (click)="close()">Fermer</button>
      </div>
    </footer>
  </form>
</div>
