<svg>
  <g attr.transform="rotate({{angle}}, {{this.getCenter().x}}, {{this.getCenter().y}})">
    <ellipse *ngIf="displayFill && displayOutline"
      [style.cx]="x + width/2"
      [style.cy]="y + height/2"
      [style.rx]="computeRX()-displayOutlineThickness/2"
      [style.ry]="computeRY()-displayOutlineThickness/2"
      [style.fill]="primaryColor"
      [style.stroke]="secondaryColor"
      [style.stroke-width]="displayOutlineThickness"
      [style.opacity]="primaryOpacity"
    />
    <ellipse *ngIf="displayFill && !displayOutline"
      [style.cx]="x + width/2"
      [style.cy]="y + height/2"
      [style.rx]="computeRX()"
      [style.ry]="computeRY()"
      [style.fill]="primaryColor"
      [style.opacity]="primaryOpacity"
    />
    <ellipse *ngIf="!displayFill && displayOutline"
      [style.cx]="x + width/2"
      [style.cy]="y + height/2"
      [style.rx]="computeRX()-displayOutlineThickness/2"
      [style.ry]="computeRY()-displayOutlineThickness/2"
      fill="none"
      [style.stroke]="secondaryColor"
      [style.stroke-width]="displayOutlineThickness"
      [style.opacity]="primaryOpacity"
    />
  </g>
</svg>
