<svg>
  <g>
    <polyline
      attr.points="{{rawSvgPoints}}"
      [style.stroke]="primaryColor"
      [style.stroke-width]="displayThickness"
      [style.opacity]="primaryOpacity"
      stroke-linejoin="round"
      stroke-linecap="round"
      fill="transparent"
    />

    <g *ngIf="junctionRadius > 0">
      <circle *ngFor="let point of points"
        attr.cx="{{point.x}}"
        attr.cy="{{point.y}}"
        attr.r="{{junctionRadius}}"
        [style.fill]="primaryColor"
        [style.opacity]="primaryOpacity"
      />
    </g>

  </g>
</svg>
