$toolbarWidth: 85px;
$tooldetailWidth: 260px;

$app-bg-color: #313131;

$light-text-color: white;
$dark-text-color: #2b2b2b;
$bg-aside-color: #424242;
$bg-nav: rgba(255, 255, 255, 0.05);
$bg-nav-emphasis: rgba(0, 0, 0, 0.15);
$bg-color: #f9f9f9;
$bg-window: white;
$blue-color: #2196f3;
$blue-color-highlighted: #42a5f5;
